/* main text black color: #212121; */
/* accent blue color: #2196F3; */
/* hero text and adress white color: #FFFFFF; */
/* other text and function grey color: #757575; */
/* footer contacts opacity color: rgba(255, 255, 255, 0.6); */
:root {
  --primary-text-color: #212121;
  --accent-text-color: #2196f3;
  --description-text-color: #757575;
  --primary-bg-color: #ffffff;
  --portfolio-btn: #f5f4fa;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color: #212121);
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

/* header */
.page-header {
  background-color: var(--primary-bg-color);
}

.logo,
.nav-link {
  color: var(--primary-text-color);
}

.accent {
  color: var(--accent-text-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-text-color);
}

.accent:hover,
.accent:focus {
  color: var(--primary-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text-color);
}

.header-contact {
  color: var(--description-text-color);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-text-color);
}
.site-nav a {
  text-decoration: none;
}
.header-contact {
  text-decoration: none;
}
.current {
  color: #2196f3;
}

/* hero */
.hero {
  background-color: #2f303a;
}
.btn {
  color: var(--primary-text-color);
  background-color: var(--accent-text-color);
}
.btn:hover,
.btn:focus {
  color: var(--primary-bg-color);
}

/* title center */
.title {
  text-align: center;
}

.hero .title {
  color: var(--primary-bg-color);
}

button {
  color: var(--primary-text-color);
}

button:hover,
button:focus {
  color: var(--primary-bg-color);
}

/* peculiar */
.hide-it {
  display: none;
}

.description {
  color: var(--description-text-color);
}

/* work */

/* team */
.team {
  background-color: #f5f4fa;
}

.function {
  color: var(--description-text-color);
}

/* footer */
footer {
  background-color: #2f303a;
}

.accent-footer {
  color: var(--accent-text-color);
}

.logo-footer {
  color: var(--primary-bg-color);
}

.accent-footer:hover,
.accent-footer:focus {
  color: var(--primary-bg-color);
}

.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-text-color);
}

.geo {
  color: var(--primary-bg-color);
}

.geo:hover,
.geo:focus {
  color: var(--accent-text-color);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-text-color);
}
.footer-contacts a {
  text-decoration: none;
}

/* portfolio */
/* button filter */
.btn-filter {
  color: var(--primary-text-color);
  background-color: var(--portfolio-btn);
}
.btn-filter:hover,
.btn-filter:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
}
